@charset "UTF-8";

:root {
    --shop-color-bg: #ffffff;
    --shop-color-text: #333333;
    --footer-bg-color: #f5f5f5;
    --footer-bg-color-copyright: #f5f5f5;
    --footer-color-title: #000000;
    --footer-color-text: #666666;
    --footer-color-hover: #999;
    --color-hover-a:  #143B79;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    color: var(--shop-color-text);
    line-height: 1.6;
    font-size: 14px;
    background-color: var(--shop-color-bg);
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.mainFooter {
    background-color: var(--footer-bg-color);
}


.mainFooter .widget-footer {
    border-right: 1px solid #dedede;
}

.mainFooter .widget-footer:last-child {
    border-right: 0;
}

.mainFooter .content-info a {
    display: block;
    transition: all .5s ease-in-out;
}

.mainFooter .content-info a:hover {
    opacity: 50%;
    transition: all .5s ease-in-out;
}

.address-footer b {
    color: var(--footer-color-text);
}

.footer-payment .payment-title, .footer-shipment .shipment-title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--footer-color-text);
}

.footer-payment .payment-icon, .footer-shipment .shipment-icon {
    display: flex;
    flex-wrap: wrap;
}

.mainFooter .footer-payment .payment-icon li, .footer-shipment .shipment-icon li {
    margin: 0 8px 8px 0;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    overflow: hidden;
}

.footer-payment .payment-icon img{
    width: 58px;
    height: 35px;
    object-fit: contain;
}

.mainFooter .footerNav-link li {
    padding-left: 15px;
    position: relative;
    margin: 0 0 8px;
}

.mainFooter .footerNav-link li a:before {
    content: "";
    width: 4px;
    height: 4px;
    background: var(--footer-color-text);
    left: 0;
    position: absolute;
    top: 0;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
}

.footerNav-link li a:hover {
    color: var(--footer-color-hover);
}

.footer-copyright {
    border-top: 1px solid #dedede;
}

.footer-copyright a:hover {
    color: var(--color-hover-a);
}
