@charset "UTF-8";
:root {
    --shop-color-1 : #FFFFFF;
    --shop-color-2 : #231F20;
    --shop-color-3 : #f69113;
    --shop-color-4 : #198754;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

body {
    color: var(--shop-color-2);
}


p {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
}

li {
    list-style: none;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

/* Announcement-bar css*/
@keyframes announcement-bar-animation {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-100%);
    }
}

.announcement-bar {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    background-color: var(--shop-color-2);
    overflow: hidden;
}

.announcement-bar__item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 10rem;
    place-items: center;
    animation: announcement-bar-animation 15s linear infinite;
    color: var(--shop-color-1);
}

@media only screen and (max-width: 700px){
    .announcement-bar__item {
        grid-auto-columns: auto 5rem;
    }
}

.shape-circle {
    width: 0.25rem;
    height: 0.25rem;
    background: red;
    display: block;
    border-radius: 50%;
}


/* CSS header */
.header-top {
    border-bottom: 1px solid #edeff2;
}

.header-top i {
    color: var(--shop-color-3);
}

.language-selector > button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.header__navbar .nav-item:hover>a {
    color: var(--shop-color-3);
    transition: .5s color ease-in-out;
}

.header__navbar .nav-item:hover> .mega-menu {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    top: 100%;
    transition: .3s all ease-in-out;
}

.header__navbar .mega-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 150%;
    left: 0;

    color: var(--shop-color-2);
    background-color: var(--shop-color-1);
    border-bottom: 1px solid var(--shop-color-3);
    box-shadow: 0px 2px 3px 0px var(--shop-color-3);
    overflow: hidden;
    transition: .3s all ease-in-out;
    
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mega-menu li {
    width: calc(100%/4);
    display: inline-flex;
    flex-direction: column;
}

.mega-menu a:hover {
    color: var(--shop-color-3);
    transition: .3s color ease-in-out;
}

.cart-counts {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 18px;
    background-color: var(--shop-color-3);
    font-size: 10px;
}

/* Modal search */

#modal-search form.input-group {
    max-width: 500px;
    margin: 0 auto;
}

.search-topkeyword .search-buttons a {
    padding: 0.475rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid #aebbc1;
    white-space: nowrap;
    line-height: 1rem;
}

.search-result .search-viewmore__button {
    display: flex;
    justify-content: center;
}


/*  Modal đăng nhập / đăng ký */
#authModal .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#authModal .auth-actions a:hover {
    color: var(--shop-color-4);
    transition: .3s color ease-in-out;
}

#authModal .social-auth-links img {
    height: 30px;
    object-fit: contain;
}

#authModal .show-hide-password {
    cursor: pointer;
}

/* Section homepage policy*/
.homepage-policy {
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
}

.homepage-policy span {
    font-size: 14px;
}

.policy-item__icon {
    max-width: 48px;
}

/* Section homepage products */
.homepage-products__tab {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.homepage-products__tab-item {
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 2.625rem;
}

.homepage-products__tab-item.active {
    background-color: #000;
    color: #fff;
}

.homepage-products__slides .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    filter: invert(1);
}
.homepage-products__slides .slick-arrow.slick-prev {
    right: 100%;
    margin-right: 1rem;
}
.homepage-products__slides .slick-arrow.slick-next {
    left: 100%;
    margin-left: 1rem;
}

.product-thumbnail {
    position: relative;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.product-image img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product-thumbnail:hover img.hover {
    opacity: 1;
}

.product-action {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;

    max-width: calc(100% - 3rem);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: visible;

    transform: translate3d(-50%, 20px, 0);
    transition: all .3s;
}

.product-thumbnail:hover .product-action {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    transform: translate3d(-50%, 0, 0);
}

.product-variant__item {
    font-size: 14px;
}

.product-tags {
    position: absolute;
    top: 0.625rem;
    right: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .75rem;
    padding: 5px 10px;
    border-radius: 5px;

    font-weight: 600;
    background-color: #f9f86c;
}

.product-tags__sale{
    background: rgb(255, 49, 2);
    color: #fff;
}

.product-tags__new {
    color: #fff;
    background-color: #2f5acf;
}

.product-tags__bestseller {
    color: #fff;
    background-color: #009739
}

.product-prices {
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
}

.product-prices del {
    color: #c4c4c4;
}

.product-prices span {
    color: rgb(255, 49, 2);
}


/* Footer */
.site-footer {
    margin-top: 3rem;
    background-color: #f5f5f5;
}

.site-footer .widget-footer {
    padding: 3rem 1rem;
    border-right: 1px solid #dedede;
}

.site-footer .widget-footer:last-child {
    border-right: 0;
}

.site-footer .content-info a {
    display: block;
    transition: all .5s ease-in-out;
}

.site-footer .content-info a:hover {
    opacity: 50%;
    transition: all .5s ease-in-out;
}

.address-footer b {
    color: var(--shop-color-2);
}

.footer-payment .payment-title, .footer-shipment .shipment-title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--shop-color-2);
}

.footer-payment .payment-icon, .footer-shipment .shipment-icon {
    display: flex;
    flex-wrap: wrap;
}

.footer-payment .payment-icon li, .footer-shipment .shipment-icon li {
    margin: 0 8px 8px 0;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    overflow: hidden;
}

.footer-payment .payment-icon img {
    width: 58px;
    height: 35px;
    object-fit: contain;
}

.footerNav-link li {
    padding-left: 15px;
    position: relative;
    margin: 0 0 8px;
}

.footerNav-link li a:before {
    content: "";
    width: 4px;
    height: 4px;
    background: var(--shop-color-2);
    left: 0;
    position: absolute;
    top: 0;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
}

.footerNav-link li a:hover {
    color: var(--shop-color-3);
}

.footer-copyright {
    border-top: 1px solid #dedede;
}

.footer-copyright a:hover {
    color: var(--shop-color-3);
}



/*  */
.product-single__option {
    position: relative;
    transition: all .3s;
}
.product-single__options .option-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-heading__title {
    display: flex;
    align-items: center;
}

.text--bold {
    font-weight: 700;
}

.product-single__options .option-heading__sizeguide {
    color: #2f5acf;
    text-decoration: underline;
}

.product-single__options .option-select {
    position: unset;
}
.product-header__options .option-select, .product-single__options .option-select {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
}

.product-single__options .option-select__item.option-size {
    position: relative;
}
.product-header__options .option-select__item, .product-single__options .option-select__item {
    padding: 6px;
    min-width: 16.6666666667%;
}   
.product-header__options .option-select__inner, .product-single__options .option-select__inner {
    position: relative;
    overflow: hidden;
}

.product-single__options .option-select__item input {
    display: none;
}

.product-single__options .option-select__item input:checked~.checkmark {
    background-color: #000;
    color: #fff;
}

.product-header__options .option-select__item .checkmark, .product-single__options .option-select__item .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    background-color: #d9d9d9;
    color: #000;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 5px;
    padding-right: 5px;
}

.product-header__options .option-size-tooltip, .product-single__options .option-size-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 100%;
}

.product-header__options .option-size-tooltip__arrow, .product-single__options .option-size-tooltip__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.product-single__options .option-size-tooltip__inner {
    background-color: #fff!important;
    color: #000!important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.0666666667);
    border: 1px solid #d9d9d9;
    padding: 5px 15px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 14px;
}
.product-header__options .option-size-tooltip__inner:before, .product-single__options .option-size-tooltip__inner:before {
    background-color: #fff;
    box-shadow: -1px -1px 1px 0 hsla(0,0%,69.8%,.4);
    content: "\A0";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    transform: rotate(45deg);
    margin: 2px auto auto;
}

.product-header__options .option-select__item.option-size:hover .option-size-tooltip,
.product-single__options .option-select__item.option-size:hover .option-size-tooltip {
    visibility: visible
}

/*  */
.product-single__title {
    font-size: 32px;
    line-height: 1.25em;
    font-weight: 700;
    margin-bottom: 20px
}
.product-single__ratings {
    display: flex;
    align-items: center;
    margin-bottom: 15px
}

.reviews-rating {
    display: flex;
    align-items: center;
}

.reviews-rating__star {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 3px 1px;
    background-image: url(/images/star-new.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.reviews-rating__star.is-full {
    background-image: url(/images/star-full.svg)
}

.reviews-rating__star.is-half {
    background-image: url(/images/star-half.svg)
}

.product-single__price ins {
    text-decoration: none;
    font-weight: 500;
}

.product-single__price del {
    color: #c4c4c4;
    margin-left: 1rem;
}

.product-single__price span {
    color: #ff3102;
    margin-left: .5rem;
}

.mini-coupon__heading {
    font-size: 14px;
    margin-bottom: .5rem;
}

.mini-coupon__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* .mini-coupon__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 0;
    position: relative;
    margin-bottom: 1em
} */

/* .mini-coupon-item {
    position: relative
} */

.mini-coupon {
    position: relative
}

.mini-coupon__title {
    width: 90px;
    padding: .25rem .5rem;
    margin: 0 auto;
    color: #fff;
    background-color: #c90000;
    border-radius: .25rem;
    white-space: nowrap;
}

.mini-coupon__tooltip {
    position: absolute;
    top: 120%;
    left: -50%;
    z-index: 2;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #000;
    box-shadow: 0 4px 5px rgba(54, 54, 54, .4);
    border-radius: 8px;
    min-width: max-content;
    visibility: hidden;
}

.mini-coupon .mini-coupon__title:hover~.mini-coupon__tooltip {
    visibility: visible;
}

.mini-coupon__code {
    font-weight: 500;
    font-size: 18px;
}

.mini-coupon__description {
    font-style: italic;
    font-size: 14px;
    color: #6d6d6d;
}

.mini-coupon__wrapper.is-loading:before {
    content: "";
    position: absolute;
    top: 130%;
    left: 30%;
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-color: #000 #000 hsla(0, 0%, 100%, 0);
    border-radius: 100px;
    z-index: 1;
    margin: -84px 0 0 -24px;
    animation: loading 2s linear infinite
}

.mini-coupon__wrapper.is-loading>* {
    opacity: .5;
    pointer-events: none
}