:root {
    --main-color-1: #2e9f3c;
    --main-color-2: #5ea700;
    --main-color-3: #ffc107;
    --text-color : #4c4c4c;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    color: var(--text-color);
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

/* Announcement-bar css*/
@keyframes announcement-bar-animation {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-100%);
    }
}

.announcement-bar {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    background-color: var(--main-color-3);
    overflow: hidden;
}

.announcement-bar__item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 10rem;
    place-items: center;
    animation: announcement-bar-animation 15s linear infinite;
}

@media only screen and (max-width: 700px){
    .announcement-bar__item {
        grid-auto-columns: auto 5rem;
    }
}

.shape-circle {
    width: 0.25rem;
    height: 0.25rem;
    background: red;
    display: block;
    border-radius: 50%;
}

/* CSS header */
.language-selector > button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.header-main {
    background: linear-gradient(90deg, var(--main-color-1), var(--main-color-2));
    color: #FFFFFF;
}

.header__navbar .nav-item:hover>a {
    color: var(--main-color-3);
    transition: .5s color ease-in-out;
}

.header__navbar .nav-item:hover> .mega-menu {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    top: 100%;
    transition: .3s all ease-in-out;
}

.header__navbar .mega-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 150%;
    left: 0;

    color: var(--text-color);
    background-color: #fff;
    border-bottom: 1px solid var(--main-color-2);
    box-shadow: 0px 2px 3px 0px var(--main-color-2);
    overflow: hidden;
    transition: .3s all ease-in-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mega-menu li {
    width: calc(100%/4);
    display: inline-flex;
    flex-direction: column;
}

.mega-menu a:hover {
    color: var(--main-color-1);
    transition: .3s color ease-in-out;
}

.header__actions img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.cart-counts {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #f9f86c;
    font-size: 10px;
}

#modal-search form.input-group {
    max-width: 500px;
    margin: 0 auto;
}
.is-active {
    display: block !important;
}
#modal-search .search-topkeyword {
    display: none;

}
.search-topkeyword .search-buttons a {
    padding: 0.475rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid #aebbc1;
    white-space: nowrap;
    line-height: 1rem;
}
#modal-search .search-result {
    display: none;
}
.search-result .product-grid__thumbnail {
    position: relative;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
.search-result .product-grid__thumbnail img {
    object-fit: cover;
}
.product-grid__tags {
    position: absolute;
    top: 0.625rem;
    right: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .75rem;
    padding: 5px 10px;
    border-radius: 5px;

    font-weight: 600;
    background-color: #f9f86c;
}

.product-grid__tags--sale{
    background: rgb(255, 49, 2);
    color: #fff;
}

.search-result .product-grid__prices {
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
}

.product-grid__prices del {
    color: #c4c4c4;
}

.search-viewmore {
    display: none;
}

.search-result .search-viewmore__button {
    display: flex;
    justify-content: center;
}

/*  Modal đăng nhập / đăng ký */
#authModal .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    /* width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;
    border-radius: 100vmax;
    border: 1.125px solid #fff;
    box-sizing: border-box;
    background-color: #000;
    box-shadow: 0 4.5px 5px rgba(0,0,0,.2509803922);
    color: #fff;
    font-size: 1.5rem; */
}