@charset "UTF-8";
:root {
    --shop-color-1 : #FFFFFF;
    --shop-color-2 : #231F20;
    --shop-color-3 : #f69113;
    --shop-color-4 : #198754;
}

body {
    color: var(--shop-color-2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
}

li {
    list-style: none;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

/* Announcement-bar css*/
@keyframes announcement-bar-animation {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-100%);
    }
}

.announcement-bar {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    background-color: var(--shop-color-2);
    overflow: hidden;
}

.announcement-bar__item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 10rem;
    place-items: center;
    animation: announcement-bar-animation 15s linear infinite;
    color: var(--shop-color-1);
}

@media only screen and (max-width: 700px){
    .announcement-bar__item {
        grid-auto-columns: auto 5rem;
    }
}

.shape-circle {
    width: 0.25rem;
    height: 0.25rem;
    background: red;
    display: block;
    border-radius: 50%;
}


/* CSS header */
.header-top {
    border-bottom: 1px solid #edeff2;
}

.header-top i {
    color: var(--shop-color-3);
}

.language-selector > button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.header__navbar .nav-item:hover>a {
    color: var(--shop-color-3);
    transition: .5s color ease-in-out;
}

.header__navbar .nav-item:hover> .mega-menu {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    top: 100%;
    transition: .3s all ease-in-out;
}

.header__navbar .mega-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 150%;
    left: 0;

    color: var(--shop-color-2);
    background-color: var(--shop-color-1);
    border-bottom: 1px solid var(--shop-color-3);
    box-shadow: 0px 2px 3px 0px var(--shop-color-3);
    overflow: hidden;
    transition: .3s all ease-in-out;
    
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mega-menu li {
    width: calc(100%/4);
    display: inline-flex;
    flex-direction: column;
}

.mega-menu a:hover {
    color: var(--shop-color-3);
    transition: .3s color ease-in-out;
}

.cart-counts {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 18px;
    background-color: var(--shop-color-3);
    font-size: 10px;
}

/* Modal search */

#modal-search form.input-group {
    max-width: 500px;
    margin: 0 auto;
}

.search-topkeyword .search-buttons a {
    padding: 0.475rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid #aebbc1;
    white-space: nowrap;
    line-height: 1rem;
}

.search-result .search-viewmore__button {
    display: flex;
    justify-content: center;
}


/*  Modal đăng nhập / đăng ký */
#authModal .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#authModal .auth-actions a:hover {
    color: var(--shop-color-4);
    transition: .3s color ease-in-out;
}

#authModal .social-auth-links img {
    height: 30px;
    object-fit: contain;
}

#authModal .show-hide-password {
    cursor: pointer;
}

/* Section homepage policy*/
.homepage-policy {
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
}

.homepage-policy span {
    font-size: 14px;
}

.policy-item__icon {
    max-width: 48px;
}

/* Section homepage products */
.homepage-products__tab {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.homepage-products__tab-item {
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 2.625rem;
}

.homepage-products__tab-item.active {
    background-color: #000;
    color: #fff;
}

.homepage-products__slides .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    filter: invert(1);
}
.homepage-products__slides .slick-arrow.slick-prev {
    right: 100%;
    margin-right: 1rem;
}
.homepage-products__slides .slick-arrow.slick-next {
    left: 100%;
    margin-left: 1rem;
}

.product-thumbnail {
    position: relative;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.product-image img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product-thumbnail:hover img.hover {
    opacity: 1;
}

.product-action {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;

    max-width: calc(100% - 3rem);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: visible;

    transform: translate3d(-50%, 20px, 0);
    transition: all .3s;
}

.product-thumbnail:hover .product-action {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    transform: translate3d(-50%, 0, 0);
}

.product-variant__item {
    font-size: 14px;
}

.product-tags {
    position: absolute;
    top: 0.625rem;
    right: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .75rem;
    padding: 5px 10px;
    border-radius: 5px;

    font-weight: 600;
    background-color: #f9f86c;
}

.product-tags__sale{
    background: rgb(255, 49, 2);
    color: #fff;
}

.product-tags__new {
    color: #fff;
    background-color: #2f5acf;
}

.product-tags__bestseller {
    color: #fff;
    background-color: #009739
}

.product-prices {
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
}

.product-prices del {
    color: #c4c4c4;
}

.product-prices span {
    color: rgb(255, 49, 2);
}